@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Serif Malayalam";
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
}

h1 {
    color: #f1f1f1;
    line-height: 120%;
    margin-bottom: 10px;
}

p {
    color: #f1f1f1;
}

div.container:nth-child(odd) {
    background-color: #111;
}

div.container {
    background-color: #590d0d;
    position: relative;
    padding: 20px;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

div.container {
    max-width: 90%;
    width: 100%;
    margin: 20px auto; /* Centering the container */
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section1 {
    background-image: url("img/img1.jpg");
}

#section2 {
    background-image: url("img/img2.jpg");
}

#section3 {
    background-image: url("img/img3.jpg");
}

#section4 {
    background-image: url("img/img4.jpg");
}

#section5 {
    background-image: url("img/img5.jpg");
}

#section6 {
    background-image: url("img/img6.jpg");
}

#section7 {
    background-image: url("img/img7.jpg");
}


#section1 .container {
    bottom: 200px;
}

.container {
    bottom: -200px;
}

/* Arrow container */
.arrow-container {
    position: fixed;
    top: 50%; /* Center vertically in the viewport */
    left: 0; /* Stick to the left border */
    transform: translateY(-50%); /* Offset to keep centered */
    z-index: 999;
}

/* Custom thick black arrow */
.arrow {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 50px solid red;
    position: relative;
}
